.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  font-size: 12px;

  a {
    font-weight: 500;
  	color: #444;
  }

  a.new {
    color: #88b14b;
  }
}
